.text-content .animated-text {
  background: linear-gradient(to right, #ffd700, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade 4s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-content {
  flex: 0 0 50%;
  padding-left: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 90px;
  text-align: left;
}

.text-content h1 {
  color: white
}

.image-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 0px;
  margin-bottom: 50px;
}

.gradient-text {
  background: linear-gradient(to right, #ffd700, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: bold;
}

.info-content {
  color: white;
  text-align: center;
  margin-left: 53px;
  margin-right: 35px
}

.margin-bottom {
  margin-bottom: 150px
}

.card-text {
  color: white;
}

.card {
  background-color: transparent;
  border: none;
}